<div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-center">
          <h1>Bullseye Journal</h1>
          <p class="lead">A trading journal is a vital tool that records a trader's activities, providing a comprehensive view of both technical analysis and the trader's mental state.</p>
          <button mat-raised-button color="primary" (click)="openGoogleAuth()">Sign in with google →</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/trading-img.png" alt="Hero image" class="img-fluid">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-4 text-center">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="stars"></mat-icon>
        <h3>5/5 by 1000+ traders</h3>
        <p class="text-muted">Don't just take our word for it. Try and let us know.</p>
      </div>
      <div class="col-md-4 text-center">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="highlight"></mat-icon>
        <h3>Grow with your own reflection</h3>
        <p class="text-muted">Learn from your own reflection. Understand the insights and strategies you need to succeed.</p>
      </div>
      <div class="col-md-4 text-center">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat_bubble"></mat-icon>
        <h3>See incredible stories</h3>
        <p class="text-muted">Get inspired by real-world examples of successful trading with help of journaling.</p>
      </div>
    </div>
  </div>
  